<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Predictive Maintenance Classification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-center">Welcome to the Home Page</h1>
    <p class="lead text-center">This application leverages machine learning to predict whether the machine will fail or not and the type of machine failure.</p>
</body>
</html>
